{{!< layout}}
<script type="text/javascript" src="/dist/bundled.index.js"></script>
<div id="maincontainer">
    <h1>{{title}}</h1>
    <div id="container" />
</div>
<div class="field-group hidden">
    <input class="text" type="text" id="data" name="data" value="{{data}}">
</div>