{{!< layout}}
<script type="text/javascript" src="/dist/bundled.index.js"></script>
<div id="ac-content">
    <div id="container" />
</div>
<div class="field-group hidden">
    <input class="text" type="text" id="data" name="data" value="{{data}}">
    <input class="text" type="text" id="projects" name="projects" value="{{projects}}">
</div>